# Object files
*.o
*.obj

# Executables
*.lib
*.a
*.exe
*.pdb

# Project files
*.suo
*.sln
*.visualdproj
*.dproj

# Dub files
.dub
dub.selections.json

# Dub binaries
/dmocks
/dmocks-test-library
/examples/basic/basic*

# Coverage
*.lst
