# Object files
*.o
obj

# Executables
*.lib
*.a
*.exe
*.exe_cv
*.pdb

# Project files
*.suo
*.sln
*.visualdproj
*.dproj

# Dub files
.dub
dub.selections.json

# Dub binaries
/dmocks-revived
/dmocks-revived-test-library
/examples/basic/basic*
